{{#each this.hits}}
<li class="gallery-item">
    
        <img class='gallery-img' data-source="{{largeImageURL}}" src="{{webformatURL}}" alt="{{tags}}" />

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons stats-icon">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons stats-icon">visibility</i>
                {{views}}
            </p>
            <p class="stats-item">
                <i class="material-icons stats-icon">comment</i>
                {{comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons stats-icon">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    
</li>
{{/each}}